{% extends 'base.html.twig' %}

{% block title %}Danh mục sản phẩm{% endblock %}

{% block head %}
    <style type="text/css">
        .important { text-align: center; color: red }
    </style>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

{% endblock %}

{% block body %}
<div class="example-wrapper">
<h1 class="important">Bảng Products </h1>
    <h2>
        Tổng Sản Phẩm : {{  products.getTotalItemCount() }}

    </h2>

        <table   class="table"  >

            <tr class="bg-primary">
                <th >ID</th>
                <th >Name</th>
                <th >Price</th>
                <th >CategoryID</th>
                <th >Delete</th>
                <th >Update</th>

            </tr>


            {% for product in products %}
                <tr>
                    <td> {{ product.id }} </td>
                    <td> {{ product.name }} </td>
                    <td> {{ product.price }} </td>
                    <td> {{ product.category.id}} </td>
                    <td>   <button class="btn btn-danger" type="submit" ><a style="text-decoration: none ;color: black " href="{{ path ('productDelete',{'id':product.id}) }}">Delete</a></button></td>
                    <td>   <button class="btn btn-warning" type="submit" ><a style="text-decoration: none ;color: black" href="{{ path ('productEdit',{'id':product.id})}}">Edit</a></button></td>
                </tr>
            {% endfor %}



        </table>

    {#    phân trang#}
    <div>{{ knp_pagination_render(products) }}</div>

    <button class="btn btn-success"> <a style="text-decoration: none; color: black" href="{{ path ('home')}}">Return</a></button></td>


</div>

    {% endblock %}
